<!-- top section of page with logo in -->
<section class="logo-section text-center">
  <!-- insert logo -->
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 text-center">
      <h1 id="index-h1"><%= image_tag(asset_path('SaveIt.png'), id: "logo-index") %>avit</h1>
    </div>
  </div>
  <div id="index-h3">
    <h3>Monitor your spending and savings</h3>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-3 text-right">
      <%= link_to 'Sign Up', '/signup', class:"btn btn-success btn-index" %>
      <br>
    </div>
    <div class="col-md-3 text-left">
      <%= link_to 'Log In', '/login', class:"btn btn-success btn-index" %>
    </div>
  </div>
</section>
<!-- triangle div -->
<div id="top-triangle">
  <%= link_to '#', class: 'text-center glyphicon glyphicon-triangle-bottom' do %>
  <% end %>
</div>

<!-- middle section of page with text in -->
<section class="text-section">
  <div class="row">
    <div class="text-center col-md-4">
      <span class="glyphicon glyphicon-usd"></span>
      <h4>Log your daily spending</h4>
      <h4>See how much you have to spend</h4>
    </div>
    <div class="text-center col-md-4">
      <span class="glyphicon glyphicon-piggy-bank"></span>
      <h4>Keep track of what you have saved</h4>
      <h4>Visual representations of your saving</h4>
    </div>
    <div class="text-center col-md-4">
      <span class="glyphicon glyphicon-folder-open"></span>
      <h4>Review your historic spending by category</h4>
      <h4>Review your historic spending by month</h4>
    </div>
  </div>

  <!-- image panel -->
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag(asset_path('chart.png')) %>
      </div>
      <div class="item">
        <%= image_tag(asset_path('month.png')) %>
      </div>
      <div class="item">
        <%= image_tag(asset_path('today.png')) %>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- end of image panel -->
</section>

<!-- footer -->
<footer class="text-center">
  Savit 2015.
  <br>
  <span class="names">Created by Emily Kingan, Natasha Price, Annie Redmond & Jorge Suarez</span>
</footer>
