<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="well users-well">
      <h4 class="text-center">Sign Up</h4>
      <br>
      <!-- error message -->
      <% if @users_error %>
        <div class="alert alert-info text-center alert-danger"><%= flash[:error] %></div>
      <% end %>
      <div id="sign-up-form">
        <%= form_for @user do |f| %>
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "form-control", placeholder: @user.first_name, autofocus: true %>
          <br>
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "form-control", placeholder: @user.last_name %>
          <br>
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control", placeholder: @user.email %>
          <br>
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
          <br>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
          <br>
          <div class="text-right">
            <%= f.submit 'signup', value: "Sign up!", class: "form-btn btn btn-success text-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
