<%= render "layouts/navbar" %>
<div class="container">
  <div class="row">
    <!-- users daily budget -->
  	<div class="jumbotron text-center">
  		<h3><%= @user.first_name %>, your budget for today is:</h3>
  		<h1>$<%=@daily_budget%></h1>
  	</div>
  </div>
  <hr>
  <!-- spending form -->
  <div class="row">
    <div class="col-sm-5 new-spending-form">
      <h4 class="text-center">Every time you buy something, enter it here:</h4>
      <br>
      <%= form_for @transaction do |f| %>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :amount, class: "form-control text-center", placeholder: "How much did you spend?" %>
          <span class="input-group-addon">.00</span>
        </div>
        <br>
        <%= f.text_field :tag_list, class: "form-control text-center", placeholder: "What category is your purchase in?" %>
        <br>
        <span class="pull-right"><%= f.submit class: "btn-success text-right" %></span>
      <% end %>
    </div>

    <div class="col-sm-5 col-sm-offset-2 todays-transactions">
      <h4 class="text-center">Today's Transactions</h4>
      <br>
      <ul class="list-group">
        <% if @user.daily_transactions.any? %>
          <% @user.daily_transactions.reverse.each do |t| %>  
            <li class="list-group-item">
              <div class=""><%=t.created_at.to_formatted_s(:time) %>&nbsp;$<%= t.amount %>&nbsp; <%= t.tag_list %></div> 
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

  </div>
</div>