<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
		<a class="navbar-brand" href="/" id="brand-name">SAVIT</a>

    <!-- User Logged In -->
<div class="collapse navbar-collapse">
    <% if current_user %>
   		<ul class="nav navbar-nav pull-right">
        <!-- Logout Dropdown -->
        <li class="logged-in"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- Profile -->
   		     	<li class="logged-in"><%= link_to "Profile", @user %></li>
            <!-- Savings -->
            <li class="logged-in"><%= link_to "Savings", savings_path %></li>
            <!-- Spending(Transactions) -->
            <li class="logged-in"><%= link_to "Spending", spending_path %></li>
            <!-- User Settings -->
            <li class="logged-in"><%= link_to "User Settings", edit_user_path(current_user.id) %></li>
            <!-- Financial Settings -->
            <li class="logged-in"><%= link_to "Financial Settings", edit_budget_path(@budget.id) %></li>
            <!-- Logout -->
            <li><a href="/logout" id="logout-btn">Logout</a></li>
          </ul>
        </li> 
    	</ul>
    <% end %>
  </div>
</div>
</nav>