<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
		<a class="navbar-brand" href="/" id="brand-name">SAVIT</a>

    <!-- User Logged In -->
<div class="collapse navbar-collapse">
    <% if current_user %>
   		<ul class="nav navbar-nav pull-right">
        <!-- Logout Dropdown -->
        <li class="logged-in"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- Profile -->
   		     	<li class="logged-in"><%= link_to "Profile", @user %></li>
            <!-- Savings -->
            <li class="logged-in"><%= link_to "Savings", savings_path %></li>
            <!-- Spending(Transactions) -->
            <li class="logged-in"><%= link_to "Spending", spending_path %></li>
            <!-- User Settings -->
            <!-- <li class="logged-in"> link_to "User Settings", edit_user_path %></li> -->
            <!-- Financial Settings -->
            <!-- <li class="logged-in"> link_to "Financial Settings", edit_budget_path %></li> -->
            <!-- Logout -->
            <li><a href="/logout" id="logout-btn">Logout</a></li>
          </ul>
        </li> 
    	</ul>

      
      <!-- If user is not logged in -->
      <% else %>
        <ul class="nav navbar-nav pull-right">
          <!-- sign up modal button -->
          <li class="logged-out"><!-- <a href="/signup">Sign Up</a> -->
            <%= link_to 'Sign Up', '/signup' %>
          </li>
          <!-- log in modal button -->
          <li class="logged-out"><!-- <a href="/login">Log In</a> -->
            <%= link_to 'Log In', '/login' %>
          </li>
        </ul>
      <% end %>
  </div>
</div>
</nav>